---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const noteData = await getCollection("note");

  return noteData.map((note) => {
    return {
      params: {
        note: note.slug,
      },
      props: {
        title: note.data.title,
        description: note.data.description,
        image: note.data.image,
        link: note.data.link,
        content: note.render(),
      },
    };
  });
}

const { title, description, image, link, content } = Astro.props;

const { Content } = await content;
---

<BlogPost title={title}>
  <div
    class="m-auto p-4
    prose
   prose-h1:text-white
   prose-h2:text-white
   prose-a:text-primary
   text-white
   bg-gray-900
   w-full"
  >
    <Content />
  </div>
</BlogPost>
