---
import { getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const noteData = await getCollection("note");

  return noteData.map((note) => {
    return {
      params: {
        note: note.slug,
      },
      props: {
        title: note.data.title,
        description: note.data.description,
        image: note.data.image,
        link: note.data.link,
        content: note.render(),
      },
    };
  });
}

const { title, description, image, link, content } = Astro.props;

const { Content } = await content;
---

<BlogPost title={title}>
  <div
    class="p-10
    prose
   prose-h1:text-default
   prose-h2:text-default
   prose-strong:text-danger
   prose-a:text-primary
   text-default
   bg-default max-w-none"
  >
    <Content />
  </div>
</BlogPost>
