---
import BlogPost from "../../layouts/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const authorsData = await getCollection("authors");
  return authorsData.map((d) => {
    return {
      params: {
        authors: d.id,
      },
      props: {
        introduce: d.data.introduce,
        job: d.data.job,
      },
    };
  });
}
const { authors } = Astro.params;
const { introduce, job } = Astro.props;
---

<BlogPost>
  <h1>{authors}</h1>
  <p>{introduce}</p>
  <p>{job}</p>
</BlogPost>
