---
import MotionNav from "../React/MotionNav";

const { title } = Astro.props;
---

<div
  class="flex justify-between w-full py-2 px-4 h-[64px] mb-4 border-b-2 border-solid border-secondary shadow-md"
>
  <h1 class="text-bold text-lg p-3">{title}</h1>
  <MotionNav client:load />
</div>
