---
import Layout from "../layouts/Layout.astro";

import imgData from "../data/image.json";
import { getImage } from "astro:assets";

const data = Astro.locals;

const coverImage = await getImage({
  src: imgData[0].worrier.cover,
  format: "webp",
  width: 1920,
  height: 1080,
});
const titleImage = await getImage({
  src: imgData[0].worrier.title,
  format: "webp",
  width: 1920,
  height: 1080,
});
const characterImage = await getImage({
  src: imgData[0].worrier.character,
  format: "webp",
  width: 1920,
  height: 1080,
});
---

<Layout title="Welcome to Astro.">
  <div class="container px-4">
    <div><h2 class="text-primary">{data.welcomeTitle()}</h2></div>
  </div>
</Layout>

<style></style>
