---
import BlogPost from "../layouts/BlogPost.astro";
import imgData from "../data/image.json";
import { getImage } from "astro:assets";
import Card3d from "../components/React/Card3d";
const data = Astro.locals;

const coverImage = await getImage({
  src: imgData[0].worrier.cover,
  format: "webp",
  width: 1920,
  height: 1080,
});
const titleImage = await getImage({
  src: imgData[0].worrier.title,
  format: "webp",
  width: 1920,
  height: 1080,
});
const characterImage = await getImage({
  src: imgData[0].worrier.character,
  format: "webp",
  width: 1920,
  height: 1080,
});
---

<BlogPost title="Welcome to Astro.">
  <div class="content-normal">
    <div><h2>{data.welcomeTitle()}</h2></div>
    <div>
      <Card3d
        titleImg={titleImage.src}
        characterImg={characterImage.src}
        coverImg={coverImage.src}
        client:load
      />
    </div>
  </div>
</BlogPost>

<style></style>
