---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../layouts/BlogPost.astro";
const data = Astro.locals;
---

<BlogPost title="about Astro">
  <div class="content-norma">
    <div><h2>{data.welcomeTitle()}</h2></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      exercitationem blanditiis recusandae tenetur perspiciatis obcaecati
      pariatur temporibus ab, fuga vel sint debitis, sequi qui. Dolorem officia
      minima non aspernatur laborum?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      exercitationem blanditiis recusandae tenetur perspiciatis obcaecati
      pariatur temporibus ab, fuga vel sint debitis, sequi qui. Dolorem officia
      minima non aspernatur laborum?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      exercitationem blanditiis recusandae tenetur perspiciatis obcaecati
      pariatur temporibus ab, fuga vel sint debitis, sequi qui. Dolorem officia
      minima non aspernatur laborum?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      exercitationem blanditiis recusandae tenetur perspiciatis obcaecati
      pariatur temporibus ab, fuga vel sint debitis, sequi qui. Dolorem officia
      minima non aspernatur laborum?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      exercitationem blanditiis recusandae tenetur perspiciatis obcaecati
      pariatur temporibus ab, fuga vel sint debitis, sequi qui. Dolorem officia
      minima non aspernatur laborum?
    </p>
  </div>
</BlogPost>
