---
import Layout from "./Layout.astro";
import Accordion from "../components/React/Accordion";

import { getCollection } from "astro:content";

const noteList = await getCollection("note");
---

<Layout>
  {
    noteList.map((note, i) => (
      <li class="p-3 border-b-2 border-solid border-default" slot="menu">
        <a href={`/blog/note${i + 1}/note${i + 1}`}>{note.data.title}</a>
      </li>
    ))
  }
  <slot />
</Layout>
