---
import BaseHead from "../components/astro/BaseHead.astro";
import Hearder from "../components/astro/Hearder.astro";
import Footer from "../components/astro/Footer.astro";
import Drawer from "../components/React/Drawer";
interface Props {
  title?: string;
  description?: string;
}
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Hearder title={title} />
    <Drawer client:load>
      <li>123</li>
      <li>123</li>
      <li>123</li>
      <li>123</li>
    </Drawer>
    <slot />
    <Footer />
  </body>
</html>
