---
import BaseHead from "../components/astro/BaseHead.astro";
import Hearder from "../components/astro/Hearder.astro";
interface Props {
  title?: string;
  description?: string;
}
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Hearder title={title} />
    <slot />
  </body>
</html>
