---
import BaseHead from "../components/astro/BaseHead.astro";
import Hearder from "../components/astro/Hearder.astro";
import Drawer from "../components/React/Drawer";
import Footer from "../components/astro/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  link?: string;
}
import { SITE_TITLE, SITE_DESCRIPTION, SITE_LINK } from "../consts";

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  link = SITE_LINK,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Hearder title={title} />
    <div class="flex flex-row w-full">
      <div class="min-h-screen">
        <Drawer client:load isFixed={true} transition:persist>
          <li
            class="py-2 px-4 border-b-2 border-solid border-default"
            slot="menu-name"
          >
            <a href=`/` slot="menu-name" class="text-lg">Home</a>
          </li>
          <li
            class="py-2 px-4 border-b-2 border-solid border-default"
            slot="menu-name"
          >
            <a href=`/newPage` slot="menu-name" class="text-lg">new</a>
          </li>

          <slot name="menu" />
        </Drawer>
      </div>
      <div class="min-h-screen w-full"><slot /></div>
    </div>
    <Footer />
  </body>
</html>
